// Mixins
=transform($arg)
	transform: $arg
	-o-transform: $arg
	-moz-transform: $arg
	-ms-transform: $arg
	-webkit-transform: $arg

=transform-origin($arg)
	transform-origin: $arg
	-o-transform-origin: $arg
	-moz-transform-origin: $arg
	-ms-transform-origin: $arg
	-webkit-transform-origin: $arg

=box
	display: box
	display: -moz-box
	display: -webkit-box

=box-orient($arg)
	box-orient: $arg
	-moz-box-orient: $arg
	-webkit-box-orient: $arg

=box-align($arg)
	box-align: $arg
	-moz-box-align: $arg
	-webkit-box-align: $arg

=box-flex($arg)
	box-flex: $arg
	-moz-box-flex: $arg
	-webkit-box-flex: $arg

=abs
	position: absolute

=abs-fill
	+abs
	top: 0
	right: 0
	bottom: 0
	left: 0

=spritesheet($sheet, $width, $height, $cols, $rows)
	background-image: $sheet
	width: $width
	height: $height
	@for $c from 1 through $cols
		@for $r from 1 through $rows
			$class: '.r#{$r}'
			@if $r == 1
				$class: ''
			&.c#{$c}#{$class}
				background-position: -$width*($c - 1) 0 - $height*($r - 1)

// === Layout ===

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block

html, body, #container, #main
	height: 100%
	min-height: 900px

#content, #planets
	height: 100%
	position: relative

body
	margin: 0
	background-color: black

a
	color: white

img
	border: none

#main
	position: relative
	> header
		+abs
		z-index: 100
		top: 2em
		width: 100%
		text-align: center

nav#dimension
	width: 3em
	+abs
	right: 1em
	top: 1em
	background-color: black

// Planeten

#planets
	background-image: url(../images/layout/bg.png)
	background-color: black
	.bg
		+abs
		width: 100%
		height: 100%
		overflow: hidden

#bg-end img
	+abs
	right: 0

.planet
	+abs
	z-index: 0
	&:hover
		cursor: pointer
	.name
		+abs
		+transform(rotate(-70deg))
		white-space: nowrap
	.moon.name
		font-size: 75%

// Features

#features
	+abs
	right: 0
	bottom: 0
	left: 0
	$width: 70px
	$height: 65px
	height: $height
	background-color: rgba(black, 0.5)
	ul
		margin: 0
		margin-right: $width
		text-align: right
	li
		position: relative
		display: inline-block
		margin: 0 0.75em
		cursor: pointer
		
		+spritesheet(url('../images/layout/Featuresheet.png'), $width, $height, 6, 2)
		// highlight
		&.r2
			bottom: 20px
		&.r2, &:hover
			> div
				display: block
		// text (invisible unless highlighted)
		> div
			position: absolute
			left: 0 // set by script
			bottom: $height + 5
			display: none
			white-space: nowrap

/* Overlay zum Abdecken der Planeten

#feature-overlay
	+abs-fill
	//background: transparent; <- nicht IE-kompatibel
	background: rgba(0, 0, 0, 0)

// Feature: Habitable Zone

#habzone
	+abs
	top: 0
	bottom: 0
	.inner
		+abs-fill
		right: 82px
		left: 79px
		background-color: rgba(30, 34, 70, 0.09)
	.right
		+abs
		right: 0

// Feature: Sonnenwind

#solwind
	+abs-fill
	background-repeat: no-repeat
	background-image: url(../images/features/solwind.png)

// Feature: Temperatur

#temperature
	+abs-fill
	> img
		+abs
		left: 8%
		top: 115px
	> div
		+abs-fill
		background-image: url(../images/features/Temp_Gradient.svg)
		background-size: 100% 100%
		> div
			+abs-fill
			left: -50px
			width: 50px
			background-image: url(../images/features/Temp_Left.svg)
			background-size: 100% 100%

// Planetendetail

.planetdetail
	+abs
	top: 150px
	height: 460px
	// left/right wird im app gesetzt
	background-color: rgba(0, 0, 0, 0.85)
	border-radius: 10px
	> .left
		+abs-fill
		right: 3em
		> .tabs
			position: relative
			width: 100%
			height: 35px
			box-sizing: border-box
			background-color: #811616
			background-image: url('../images/layout/tabbg.png')
			background-repeat: repeat-x
			border-top-left-radius: 10px
			padding-left: 10px
			> ul
				margin: 0
				padding: 0
				padding-bottom: 0
			.tab
				float: left
				height: 35px
				list-style-type: none
				white-space: nowrap
				background-image: url('../images/layout/tabbg.png')
				background-repeat: repeat-x
			a
				float: left
				padding: 0.5em 1em
		> .content
			+abs-fill
			top: 2.5em
			> .text
				+abs
				top: 1em
				right: 550px
				bottom: 1em
				left: 1.5em
				overflow: auto
				> *:first-child
					margin-top: 0
			// Bildbereich
			> .image
				+abs
				top: 0
				right: 0
				bottom: 0
				width: 550px
				>
					img
						max-width: 100%
						max-height: 100%
						cursor: pointer
					.caption
						+abs
						right: 0
						bottom: 20px
						width: 400px
						
						background-color: rgba(0, 0, 0, 0.5)
						
						h1
							margin: 0
						
						> div
							// Flexbox
							+box
							width: 400px
							> 
								div.content
									+box-flex(1)
									padding: 5px 7px
									max-width: 50%
								div.line
									width: 2px
									+box
									+box-align(center)
									>
										div
											//+box-flex(1)
											border-left: 2px solid grey
											height: 32px
											margin: 0 10px
								nav 
									+box-flex(1)
									
									+box
									+box-align(center)
									> ol
										+box-flex(1)
										margin: 0
										margin-right: 7px
										list-style-type: none
										text-align: right
										> li
											display: inline-block
											vertical-align: middle
											margin: 5px 1px
											
											cursor: pointer
											// Spritesheet mit Nummern
											+spritesheet(url(../images/layout/Numbersheet.png), 24px, 27px, 6, 2)
	// Tab: Alle Medien
	.media > .thumb
		display: inline-block
		vertical-align: top
		width: 100px
		padding: 1em
		cursor: pointer
		> img
			max-width: 100px
			max-height: 75px
	// Leiste auf der rechten Seite
	> .rbar
		width: 3em
		+abs
		top: 0
		right: 0
		bottom: 1em
		white-space: nowrap
		h1
			+transform-origin(center left)
			+transform(rotate(90deg))
			margin: 0
			+abs
			top: 0
			left: 0.75em
		a
			+abs
			right: 1.5em
			bottom: 0

// Footer
#main > footer
	+abs
	z-index: 10
	width: 100%
	bottom: 0
	background-color: black
	> section
		width: 25%
		padding: 1em
		padding-top: 0
		display: inline-block
		vertical-align: top
		&:nth-child(2)
			width: 40%
			border-left: solid 1px grey
			border-right: solid 1px grey
