// Textformatierung

body
	color: white
	font-family: Verdana, Arial, sans-serif

.small
	font-size: 12px
	line-height: 19px

// Astronomische Symbole
.planet > .name::first-letter
	// Unicode font list from Wikipedia
	font-family: "Arial Unicode MS", "Microsoft Sans Serif", "Free Sans", "Gentium Plus", "Gentium Basic", "Gentium", "GentiumAlt", "DejaVu Sans", "DejaVu Serif", "Free Serif", "TITUS Cyberbit Basic", "Bitstream Cyberbit", "Bitstream CyberBase", "Doulos SIL", "Code2000", "Code2001"

.planetdetail
	.image .caption
		@extend .small
		h1
			font-size: 1.5em
			text-transform: uppercase
	.media .caption
		@extend .small

#features
	font-size: 9px

#main > footer
	@extend .small
	font-family: Arial, sans-serif
	h1
		font-family: Times, serif
		font-weight: normal
		font-size: 1.5em
		text-transform: uppercase
