// Textformatierung

@font-face
	font-family: 'DejaVu'
	src: local('DejaVu Sans'), url('../images/layout/DejaVuSans.ttf') format('truetype')

$color: #ededed

body
	color: $color
	font-family: Arial, Verdana, sans-serif
	font-size: 14px

a
	color: #52b1f0

h1, dt
	font-size: 18px
	font-weight: bold
	text-transform: uppercase
	margin-top: 0.67em
	margin-bottom: 0.44em

h1 + p
	margin-top: 0

h2
	font-size: 15px
	font-weight: normal

.serif-heading
	font-family: Times, serif
	font-weight: normal
	text-transform: uppercase

.small
	font-size: 12px
	line-height: 19px

// Astronomische Symbole
.planet > .name //::first-letter <- doesn't work in Firefox
	// Unicode font list from Wikipedia
	font-family: "DejaVu", "Arial Unicode MS", "Free Sans", "Gentium Plus", "Gentium Basic", "Gentium", "GentiumAlt", "DejaVu Serif", "Free Serif", "TITUS Cyberbit Basic", "Bitstream Cyberbit", "Bitstream CyberBase", "Doulos SIL", "Code2000", "Code2001"

.planetdetail
	h1, dt
		font-size: 15px
		margin-top: 0.67em*2
	.tabs 
		a
			@extend .serif-heading
			font-size: 15px
			text-decoration: none
			color: $color
		.selected a
			font-weight: bold
	.image .caption
		@extend .small
	.media .caption
		@extend .small
	.rbar 
		h1
			@extend .serif-heading
			font-size: 32px
			letter-spacing: 2px
			&::first-letter
				font-family: DejaVu
		a
			font-weight: bold
			font-size: 20px
			text-decoration: none
			color: $color

#features
	font-size: 12px
	font-weight: bold

#main > footer, #versions
	@extend .small
	font-family: Arial, sans-serif

#versions
	li::first-letter
		font-family: "Lucida Console", "Courier New", monospace

#meta
	h1
		margin-bottom: 7px
		font-size: 22px
	h1 + p
		margin-top: 0
