// Hacks

.no-flexbox .planetdetail .image > .caption > div
	display: table
	> *
		display: table-cell
		vertical-align: middle
	> div.content
		width: 50%
	> nav
		abs()
		right: 0
		top: 50%
		margin-top: (-37px/2)
