
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section { 
	display:block; 
}

html, body, #container, #main, #content, #planets {
	height: 100%;
}

body {
	margin: 0;
	
	color: white;
	font-family: Verdana, Arial, non-serif;
	/*background-color: black;*/
}

a {
	color: white;
}

#main > header {
	position: absolute;
	z-index: 100;
	top: 2em;
	width: 100%;
	text-align: center;
}

nav#dimension {
	width: 3em;
	position: absolute;
	right: 1em;
	top: 1em;
	
	background-color: black;
}

#planets {
	background-image: url(../images/bg.png);
	background-color: black;
}

#bg-sun {
	position: absolute;
	left: 0;
}

#bg-end {
	position: absolute;
	right: 0;
}

.planet {
	position: absolute;
	z-index: 0;
}

.planet .name {
	position: absolute;
	transform: rotate(-70deg);
	-moz-transform: rotate(-70deg);
	-o-transform: rotate(-70deg);
	-webkit-transform: rotate(-70deg);
}

.planet .moon.name {
	font-size: 75%;
}

#main > footer {
	position: absolute;
	z-index: 10;
	width: 100%;
	bottom: 0;
	
	background-color: black;
}

#main > footer > section {
	width: 25%;
	padding: 1em;
	padding-top: 0;
	display: inline-block;
	vertical-align: top;
}

#main > footer > section:nth-child(2) {
	width: 40%;
	border-left: solid 1px grey;
	border-right: solid 1px grey;
}
