// CSS3-Transitions

transition()
	transition: arguments
	-moz-transition: arguments
	-ms-transition: arguments
	-o-transition: arguments
	-webkit-transition: arguments

#features li
	transition: bottom 0.25s ease-in-out

.video .yt
	transition: opacity 0.5s

.tabs a, .caption nav ol div, #suns > div
	transition: background-color 0.5s
